In [8]:
import pandas as pd
df = pd.read_excel(r'uber_rides_data.xlsx')
pd.set_option('display.max_columns',20)
df.head()

,ride_id,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,24238194,7.5,2015-05-07 19:52:06 UTC,-73.999817,40.738354,-73.999512,40.723217,1
1,27835199,7.7,2009-07-17 20:04:56 UTC,-73.994355,40.728225,-73.994710,40.750325,1
2,44984355,12.9,2009-08-24 21:45:00 UTC,-74.005043,40.740770,-73.962565,40.772647,1
3,25894730,5.3,2009-06-26 08:22:21 UTC,-73.976124,40.790844,-73.965316,40.803349,3
4,17610152,16.0,2014-08-28 17:47:00 UTC,-73.925023,40.744085,-73.973082,40.761247,5

In [2]:
df.shape

(200000, 8)

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 8 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   ride_id            200000 non-null  int64
 1   fare_amount        200000 non-null  float64
 2   pickup_datetime    200000 non-null  object
 3   pickup_longitude   200000 non-null  float64
 4   pickup_latitude    200000 non-null  float64
 5   dropoff_longitude  199999 non-null  float64
 6   dropoff_latitude   199999 non-null  float64
 7   passenger_count    200000 non-null  int64
dtypes: float64(5), int64(2), object(1)
memory usage: 12.2+ MB

In [5]:
# calculating average fare amount
sum_fare = df['fare_amount'].dropna().sum()
sum_fare/200000

11.359955250000002

In [7]:
# max fare amount for a ride
df['fare_amount'].max()

499.0

In [17]:

df['pickup_datetime'] = pd.to_datetime(df['pickup_datetime'], errors='coerce')
rides = df[df['pickup_datetime'].dt.year == 2014]
num_rides_2014 = len(rides)
num_rides_2014

29968

In [25]:
# first quarter rides
rides_1quarter = df[(df['pickup_datetime'].dt.year == 2014) & (df['pickup_datetime'].dt.quarter == 1)]
num_rides_1quarter = len(rides_1st_quarter_2014)
print( num_rides_1st_quarter_2014)

7687